<%_ if (numShow > 0) { -%>
  <article class="post">
    <%_
      var length = ads.length;
      var position = ((numPage-1)*numShow + idx - 1) % length;
    -%>
    <%_ if (length > 0 && typeof idx != 'undefined' && idx > 0) { -%>
      <a href="<%= ads[position].get('linkBanner'); %>" class="img_post image-banner" target="_blank" data-banner-id="<%= ads[position].id; %>">
        <img src="<%= ads[position].get('imageBanner').url(); %>" alt="バナー画像" />
      </a>
    <%_ } else { -%>
      <a href="javascript:;" class="img_post"><img src="/img/home/banner.jpg" alt="バナー画像" /></a>
    <%_ } -%>
  </article>
<%_ } -%>
