    <!-- Global JS -->
    <script type="text/javascript" src="/js/default/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

  <%_ if (typeof jsFiles != 'undefined' && jsFiles.length) { -%>
    <%_ jsFiles.forEach(function(file) { -%>
    <script type="text/javascript" src="/js/<%= file; %>"></script>
    <%_ }); -%>
  <%_ } -%>

  <%_ if (typeof isProduction != 'undefined' && isProduction) { -%>
    <%- include('_ga'); -%>
  <%_ } -%>
  </body>
</html>
