<!-- footer-sp -->

<div id="footerContainer">
  <h3><img src="http://www.esp-shoe.com/ec/images_smt/footer/footer_title.gif" width="640" height="60" alt="ご利用ガイド" /></h3>
  <ul id="f_navi_style" class="cl">
    <li><a href="http://www.esp-shoe.com/ec/contents/shoppingguide.html" target="_blank">初めての方へ</a></li>
    <li><a href="http://www.esp-shoe.com/ec/contents/policy.html" target="_blank">ご利用規約</a></li>
    <li><a href="http://www.esp-shoe.com/ec/contents/privacy_policy.html" target="_blank">プライバシーポリシー</a></li>
    <li><a href="http://www.esp-shoe.com/ec/contents/help/help07.html" target="_blank">特定商取引表記</a></li>
    <li><a href="http://www.esp-shoe.com/ec/contents/help/index.html" target="_blank">ヘルプ</a></li>
    <li><a href="http://www.esp-shoe.com/ec/iqSearchInquiry.html" target="_blank">お問い合わせ</a></li>
    <li><a href="http://www.esp-shoe.com/ec/srDispProductListSpecialItem/doSearchProduct/8/20799555250467705" target="_blank">営業日カレンダー</a></li>
    <li><a href="http://www.esp-shoe.com/ec/shoplist/list_brand_esperanza.html" target="_blank">ショップリスト</a></li>
    <li><a href="http://www.kobe-leather.co.jp/" target="_blank">会社概要</a></li>
  </ul>
  <ul class="sns cl">
    <li><a href="https://www.facebook.com/esperanza.group" target="_blank">
      <img src="http://www.esp-shoe.com/ec/images_smt/footer/sns01.jpg" width="70" height="70" alt="facebook" />
    </a></li>
    <li><a href="https://twitter.com/espeshoe" target="_blank">
      <img src="http://www.esp-shoe.com/ec/images_smt/footer/sns02.jpg" width="70" height="70" alt="twitter" />
    </a></li>
    <li><a href="https://www.instagram.com/esperanza_official/?ref=badge" target="_blank">
      <img src="http://www.esp-shoe.com/ec/images_smt/footer/sns03.jpg" width="70" height="70" alt="instagram" />
    </a></li>
    <li><a href="https://line.me/ti/p/%40xat.0000157495.z46" target="_blank">
      <img src="http://www.esp-shoe.com/ec/images_smt/footer/sns04.jpg" width="70" height="70" alt="LINE" />
    </a></li>
  </ul>

  <p class="pagetop"><a class="back_top" href="top">
    <img src="http://www.esp-shoe.com/ec/images_smt/footer/pagetop.gif" width="182" height="42" alt="PAGETOP" />
  </a></p>
  <p class="copyright">Copyright Kobe Leather Cloth Co., Ltd All Right Reserved.</p>
</div>
