<!-- modal -->
<div id="openModal" class="modalDialog">
  <div id="cboxContent">
    <div id="cboxLoadedContent">
    <div id="inline-content">
        <div class="inner">
          <section>
            <h2>ご注文に関するお問い合わせ</h2>
            <ul>
              <li>TEL：0120-119-283</li>
              <li>営業時間：平日10:00～18:00</li>
              <li>E-Mail：<a href="mailto:webshopping@esp-shoe.com">webshopping@esp-shoe.com</a></li>
            </ul>
          </section>
          <section>
            <h2>商品・サービスに関するお問い合わせ</h2>
            <ul>
              <li>TEL：0120-568-118</li>
              <li>営業時間：平日10:00～18:00</li>
              <li>E-Mail：<a href="mailto:okyaku@kobe-leather.co.jp">okyaku@kobe-leather.co.jp</a></li>
            </ul>
          </section>
          <p class="shoplist">店舗に関するお問い合わせは直接店頭までご連絡ください。<br><a href="http://www.esp-shoe.com/ec/shoplist/list_brand_esperanza.html" target="_blank">SHOPLISTはこちら</a></p>
        </div>
    </div>
    </div>
    <a href="#close" title="Close" class="close">close</a>
  </div>
</div>
