<!-- footer-pc -->
<div class="footer_gotop" style="display: none;">
  <a class="back_top" href="top"></a>
</div>
<!--
<nav class="footer_sns_navi">
  <h4 class="sp_disp"><img src="https://www.esp-shoe.com/static/lite/images/footer/footer_title_01.jpg" width="206" height="30" alt="follow me"></h4>
  <ul class="cl">
    <li class="line"><a href="#" target="_blank">LINE</a></li>
    <li class="twitter"><a href="#" target="_blank">Twitter</a></li>
    <li class="facebook"><a href="#" target="_blank">Facebook</a></li>
    <li class="instagram"><a href="#" target="_blank">Instagram</a></li>
    <li class="email pc_disp"><a href="#" class="pc_disp"><span>EMAIL</span></a></li>
  </ul>
  <p class="email sp_disp"><a href="#" target="_blank">EMAIL</a></p>
</nav>
-->
<div class="footer_sub_navi">
  <!--
  <ul class="pc_disp">
    <li><a href="https://www.esp-shoe.com/agreement/" target="_blank">ご利用規約</a></li>
    <li><a href="https://www.esp-shoe.com/privacy-policy/" target="_blank">プライバシーポリシー</a></li>
    <li><a href="https://www.esp-shoe.com/sitemap/" target="_blank">サイトマップ</a></li>
    <li><a href="http://www.kobe-leather.co.jp/" target="_blank">会社概要</a></li>
    <li><a href="https://www.esp-shoe.com/deal/" target="_blank">特定商取引法に基づく表記</a></li>
  </ul>
  -->
  <small class="footer_copyright">Stoooc</small>
</div>
