<header>
<%- //include('_headerEspPC'); -%>
<%- //include('_headerEspSP'); -%>

    <!--  header shoedinate -->
  <div class="header-shoedinate">
    <div class="wrapper_contents">
      <div>
        <h1><a href="/">Beaustyle</a></h1>
      </div>

    </div>
  </div>
</header>
