<!doctype html>
<html lang="ja">
  <head>
    <!--  -->
    <meta name="google-site-verification" content="rM1kCOUxF20KyBHzPOaVz6gvND5yGhIW7QobIGLwpRM" />
    <!-- 文字コード -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="ja" />

    <!-- setting_meta -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="SHOEDINATE.COM" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow,noarchive" />
    <link rel="canonical" href="http://shoedinate.com" />

    <!-- IE対策 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- OGP設定 -->
    <!-- meta_data -->
    <meta property="og:site_name" content="" />
    <meta property="og:url" content="<%= siteInfo.ogp.url; %>" />
    <meta name="twitter:url" content="<%= siteInfo.ogp.url; %>" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="keywords" itemprop="keywords" content="<%= siteInfo.keywords; %>" />

    <!-- meta_title -->
    <meta property="og:title" content="SHOE'DINATE by ESPERANZA<%= siteInfo.ogp.title; %>" />
    <meta name="twitter:title" content="SHOE'DINATE by ESPERANZA<%= siteInfo.ogp.title; %>" />

    <!-- meta_description -->
    <meta name="twitter:description" content="SHOE'DINATE<%= siteInfo.description; %>" />
    <meta property="og:description" content="SHOE'DINATE<%= siteInfo.description; %>" />
    <meta name="description" itemprop="description" content="SHOE'DINATE<%= siteInfo.description; %>" />

    <!-- meta_image -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="<%= siteInfo.ogp.image; %>" />
    <meta itemprop="image" content="<%= siteInfo.ogp.image; %>" />
    <meta name="twitter:image" content="<%= siteInfo.ogp.image; %>" />

    <!-- meta_facebook -->
    <!--meta property="fb:admins" content="アドミンは管理者のID" />
    <meta property="fb:app_id" content="APP_IDはデベロッパー登録して作成したアプリのID" /-->

    <!-- meta_twitter -->
    <meta name="twitter:site" content="@twitter" />
    <meta name="twitter:creator" content="@twitter" />
    <meta name="twitter:domain" content="twitter.com/twitter" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- title -->
    <title>SHOE'DINATE by ESPERANZA<%= siteInfo.ogp.title; %></title>
    <%_
        var d = new Date();
        var version = d.getFullYear().toString() + (d.getMonth() + 1).toString() + d.getDate().toString();
    %>
    <!-- href属性にファビコンファイルのURIを記述 -->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />

    <!-- link(plugin) -->
    <link rel="stylesheet" href="/css/default/font-awesome-4.4.0/css/font-awesome.min.css" />

    <!-- link(自分たちで記述する) -->
    <link rel="stylesheet" type="text/css" href="/css/default/default.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css?v=<%= version; %>" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css?v=<%= version; %>" />

    <!-- font(google fontなど) -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css' />

  <%_ if (typeof cssFiles != 'undefined' && cssFiles.length) { -%>
    <%_ cssFiles.forEach(function(file) { -%>
    <link rel="stylesheet" type="text/css" href="/css/<%= file + '?v=' + version; %>" />
    <%_ }); -%>
  <%_ } -%>

  </head>
  <body>
