<!-- Navigation -->
<section id="navigation" class="main-navigation clearfix">
  <input type="radio" id="profile" value="/new" name="tractor" <%= (typeof path !== 'undefined' && (path == 'new' || path == 'index')) ? 'checked=checked' : ''; %> />
  <input type="radio" id="settings" value="/rankings" name="tractor" <%= (typeof path !== 'undefined' && path == 'rankings') ? 'checked=checked' : ''; %> />
  <input type="radio" id="posts" value="/popular-staffs" name="tractor" <%= (typeof path !== 'undefined' && path == 'popular-staffs') ? 'checked=checked' : ''; %> />
  <nav class="clearfix">
    <label for="profile">NEW</label>
    <label for="settings">ランキング</label>
    <label for="posts">人気スタッフ</label>
  </nav>
</section>
