<% var shop = post.get('createdBy').get('shop'); var shopName = shop.get('name'); %>
<% var classClicked = (cookies.indexOf(post.id) >= 0) ? ' like-clicked' : ''; %>
<div class="col-xs-12 col-sm-6">
  <div class="photo-box">
    <a href="javascript:;" class="image-frame">
      <img class="lazy" data-src="<%= post.get('product').url(); %>" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
    </a>
    <div class="nav-ranking">
      <div class="clearfix">
        <div class="pull-left">
          <a href="javascript:;" class="icon-like <%= classClicked; %>" data-post-id="<%= post.id; %>">
            <span aria-hidden="true" class="glyphicon glyphicon-heart"></span>
          </a>
          お気に入り: <span class="favorite-count"><%= (post.get('favoriteCount') != undefined) ? post.get('favoriteCount') : 0; %>
        </div>
        <div class="pull-right switch-images">
          <a class="btn btn-default" href="javascript:;" data-image="<%= post.get('coordinate').url(); %>">全身コーデ</a>
          <a class="btn btn-default" href="javascript:;" data-image="<%= post.get('product').url(); %>">足元コーデ</a>
        </div>
      </div>
    </div>
    <% if (post.get('ecLinked')) { %>
    <div class="ec-site-image">
      <img src="<%= post.get('ecLinked').image; %>" />
    </div>
    <% } %>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="caption">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入り(140字)</div>
  <div class="panel panel-default">
    <div class="panel-heading">ニックネーム</div>
    <div class="panel-body">身長 : <%= post.get('createdBy').get('height'); %><span class="shop-name"><%= shopName; %></span></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">アイテム</div>
    <div class="panel-body">
      <div class="ec-site">
        <div class="row">
        <% if (post.get('ecLinked')) { %>
          <div class="col-xs-4 col-sm-4">
            <img src="<%= post.get('ecLinked').image; %>" />
          </div>
          <div class="col-xs-8 col-sm-8">
            <div class="brand"><%= post.get('ecLinked').brand; %></div>
            <div class="shoe-name"><%= post.get('ecLinked').name; %></div>
            <div class="shoe-price">定価 : <%= post.get('ecLinked').price.original; %></div>
            <div><a class="btn btn-link ec-site-link" data-post-id="<%= post.id; %>" href="<%= post.get('ecLinked').link; %>?utm_source=shoedinate&utm_medium=<%= post.get('createdBy').id; %>&utm_campaign=staff_post" target="_blank">ECサイトへ</a></div>
            <%#- JSON.stringify(post.get('ecLinked')); %>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
