<%_
  var favoriteIcon = (cookies.indexOf(post.id) >= 0) ? '/img/favorites/favorite.png' : '/img/home/heart-favorite.png';
  var data = post.toJSON();
%>
        <article class="post">
          <a href="/detail/view/<%= post.id; %>" class="img_post">
            <img src="<%= data.imagesAfter[0].large.url %>" alt="" />
          </a>
        </article>
