<%- include('../partials/_head', { cssFiles: ['favorites.css'] }); -%>
  <%- include('../partials/_header'); -%>

  <main>
    <section id="new">
      <h2><%= title %></h2>

      <div id="content" class="wrapper_posts" data-limit="<%= (typeof LIMIT_ON_PAGE != 'undefined') ? LIMIT_ON_PAGE : 20; %>">
        <%_ if (posts) { -%>
          <%_ posts.forEach(function(post) { -%>
            <%- include('_item', { post: post }); -%>
          <%_ }); -%>
        <%_ } -%>
      </div>

      <%_ if (nextPage > 0) { -%>
      <nav id="pagination">
        <a href="<%= currentUrl + nextPage; %>"></a>
      </nav>
      <%_ } -%>
    </section>
  </main>

  <%- include('../partials/_footer'); -%>
<%- include('../partials/_end'); -%>
