<%_ if (layout) { -%>
<%- include('../partials/_head', { cssFiles: ['home.css'] }); -%>
  <%- include('../partials/_header'); -%>
<%_ } -%>

  <main>
    <%- //include('../partials/_nav'); -%>

    <section id="new">
      <h2><%= title %></h2>

      <%_ if (path == 'rankings') { -%>
        <!-- 並び替え(PC) -->
        <div class="search_button_new">
          <select style="background-image: url('/img/results/down.png');">
            <option value="1" data-url="<%= currentUrl; %>?sort=1" <%= (sort == 1) ? 'selected=selected' : ''; %>>最新の投稿</option>
            <option value="2" data-url="<%= currentUrl; %>?sort=2" <%= (sort == 2) ? 'selected=selected' : ''; %>>昨日</option>
            <option value="3" data-url="<%= currentUrl; %>?sort=3" <%= (sort == 3) ? 'selected=selected' : ''; %>>先週</option>
            <option value="4" data-url="<%= currentUrl; %>?sort=4" <%= (sort == 4) ? 'selected=selected' : ''; %>>今月</option>
          </select>
        </div>

        <!-- 並び替え(SP) -->
        <%_ var sortFilters = { 1: '最新の投稿', 2: '昨日', 3: '先週', 4: '今月' }; -%>
        <div class="wrapper-filter">
          <ul class="nav-filter">
            <li>
              <a href="javascript:;">
                <%= (typeof sortFilters[sort] != undefined) ? ('時間 / ' + sortFilters[sort]) : 'ランキングで並替'; %>
              </a>
              <ul class="sort-filter">
                <li><a href="<%= currentUrl; %>?sort=1" class="<%= (sort == 1) ? 'active' : ''; %>">最新の投稿</a></li>
                <li><a href="<%= currentUrl; %>?sort=2" class="<%= (sort == 2) ? 'active' : ''; %>">昨日</a></li>
                <li><a href="<%= currentUrl; %>?sort=3" class="<%= (sort == 3) ? 'active' : ''; %>">先週</a></li>
                <li><a href="<%= currentUrl; %>?sort=4" class="<%= (sort == 4) ? 'active' : ''; %>">今月</a></li>
              </ul>
            </li>
          </ul>
        </div>
      <%_ } -%>

      <%_ var bannersNumber = (numBanner > 0) ? 4 : 0; -%>
      <div class="wrapper_posts" data-limit="<%= ((typeof LIMIT_ON_PAGE != 'undefined') ? LIMIT_ON_PAGE : 20) + bannersNumber; %>">
        <%_ if (posts) { -%>
          <%_ var i = 1; -%>
          <%_ posts.forEach(function(post) { var kp = post.toJSON();
                  -%>
            <%- include('_item', { post: post }); -%>
            <%_ i++; -%>
          <%_ }); -%>
        <%_ } -%>
      </div>

      <%_ if (nextPage > 0) { -%>
        <%_ var sortString = (path == 'rankings') ? ('?sort=' + sort) : ''; -%>
        <nav id="pagination">
          <a href="<%= currentUrl + nextPage + sortString; %>"></a>
        </nav>
      <%_ } -%>
    </section>
  </main>

<%_ if (layout) { -%>
    <%- include('../partials/_footer'); -%>
  <%- include('../partials/_end'); -%>
<%_ } -%>
