<%- include('../partials/_head', { cssFiles: ['detail.css'] }); -%>
  <%- include('../partials/_header'); -%>

  <main>
    <%_
      var shop = 'shop id';
      var shopName = 'shop name';
      var favoriteIcon = '/img/home/favorite.png';
      var info = infoUser.toJSON();
    -%>
    <!-- Detail -->
    <section id="detail" class="clearfix">
      <div class="left_shop_top_detail">
        <!-- ギャラリー -->
        <div class="shop_top_info clearfix">
          <div class="left_shop_info">
              <% var avatar = '/img/no_photo.jpg';
              if (typeof info.avatar != 'undefined') {
                  avatar = info.avatar.small.url;
              }
              %>
            <a href="#"><img class="avatar" src="<%= avatar; %>" /></a>
          </div>
          <div class="right_shop_info">
            <div class="sub">
              <div class="wrapper_detail">
                <span class="height_detail">
                  <a href="#" class="ah_detail">
                    <%= info.name%>
                  </a>
                </span>
              </div>
              <div class="wrapper_detail">
                <p>
                  <%= info.salon.name%>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="shop_top_info">
          <span class="font-span">T<br>W</span>
          <span class="font-span">F<br>B</span>
          <span class="font-span">I<br>G</span>
        </div>
      </div>

      <div class="right_shop_top_detail">
        <article class="personal_icon">
          <div class="icon-info clearfix">
            <p class="ic-inf-p text_center">
             <span>
               <% if (info.gender === 1) { %> 女性 / <% } else if (info.gender === 2) { %> 男性 / <% } %>
               <% if (typeof info.birthday != 'undefined') {
                   var age = info.birthday.iso.split('-');
                   age = new Date().getFullYear() - parseInt(age[0]);
               %> <%= age %>齢 /
               <% } %>
               <% if (typeof info.profile != 'undefined') { %>
                 <%= info.profile.experience %>
               <% } %>
             </span>
            </p>
            <p class="ic-inf-p">
              <% if (typeof info.introduction != 'undefined') {
                var intro = info.introduction.split('\n');
                for (var t = 0; t < intro.length; t++) {
              %>
                <%= intro[t] %> <br>
              <% } } %>
            </p>
          </div>
        </article>
      </div>
    </section>

    <!-- Related -->
    <section id="detail" class="margin-top-20">
      <div class="wrapper_posts wrapper_detail_list" data-limit="6">
              <%_ if (posts) { -%>
              <%_ posts.forEach(function(post) { var kp = post.toJSON();-%>
              <%- include('_item', { post: post }); -%>
              <%_ }); -%>
              <%_ } -%>
      </div>

      <%_ if (nextPage > 0) { -%>
        <%_ var sortString = (path == 'rankings') ? ('?sort=' + sort) : ''; -%>
        <nav id="pagination">
          <a href="<%= currentUrl + nextPage + sortString; %>"></a>
        </nav>
      <%_ } -%>
    </section>

  </main>


  <%- include('../partials/_footer'); -%>
<%- include('../partials/_end', { jsFiles: ['twitter.js']}); -%>
