<%- include('../partials/_head', { cssFiles: ['detail.css'] }); -%>
  <%- include('../partials/_header'); -%>

  <main>
    <%_
      var shop = 'shop id';
      var shopName = 'shop name';
      var favoriteIcon = '/img/home/favorite.png';
    -%>
    <!-- Detail -->
    <% if (typeof post.get('video') != 'undefined') { var video = post.get('video').toJSON(); %>
      <section id="detail">
      <div class="pic_detail">
        <!-- ギャラリー -->
        <div id="photo_container">
          <div id="main_video">
            <video width="100%" controls autoplay>
              <source src="<%= video.url%>" >
            </video>
          </div>
        </div>
      </div>

      <div class="info_detail">
        <article class="personal_icon">
            <% var user = post.get('createdBy').toJSON();
            var info = post.get('pickUpInfo');
            %>

          <div class="icon-info clearfix margin-bottom-20">
            <div class="sub">
              <div class="wrapper_detail">
                <span class="height_detail">
                  <a href="/stylist/<%= user.objectId%>" class="ah_detail">
                    <%= user.name%>
                  </a>
                </span>
                <p class="pp_detail">
                </p>
              </div>
              <div class="wrapper_detail">
                <p>
                  <%= user.salon.name%>
                </p>
              </div>
            </div>
            <div class="info-staff">
                <% var avatar = '/img/no_photo.jpg';
                if (typeof post.get('createdBy') != 'undefined') {
                  avatar = user.avatar.small.url;
                }
                %>
              <div class="img-staff">
                <a href="/stylist/<%= user.objectId%>"><img class="avatar" src="<%= avatar; %>" /></a>
              </div>
            </div>
          </div>
          <div class="icon-info clearfix">
            <div class="ic-inf-p">
              <% var desc = info.description.split("\n");
              for (var i = 0; i < desc.length; i++) {
              %>
              <%= desc[i]%> <br>
              <% } %>
            </div>
          </div>
        </article>

      </div>
    </section>
    <% } else { var detail = post.toJSON(); %>
      <section id="detail">
      <div class="pic_detail">
        <!-- ギャラリー -->
        <div id="photo_container">
          <div id="main_photo">
          </div>
          <img class="img_slide_thumb" src="" width="65" height="72" />
        </div>
          <%_
            var fixedTag = '';
            var fixedTags = [];
            var hashtags = fixedTags.join();
            -%>
        <!-- ギャラリーここまで -->
        <ul class="tag_detail">
          <div id="thumbnail">
              <%
                  var leftBe = '', rightBe = '', backBe = '';
                  var leftAf = '', rightAf = '', backAf = '';
                  for (var t = 0; t < detail.imagesBefore.length; t++) {
                    if (detail.imagesBefore[t].type === 'RECORD_LEFT')
                      leftBe = detail.imagesBefore[t].large.url;
                    if (detail.imagesBefore[t].type === 'RECORD_RIGHT')
                      rightBe = detail.imagesBefore[t].large.url;
                    if (detail.imagesBefore[t].type === 'RECORD_BACK')
                      backBe = detail.imagesBefore[t].large.url;
                  }
                  for (var t = 0; t < detail.imagesAfter.length; t++) {
                    if (detail.imagesAfter[t].type === 'RECORD_LEFT')
                      leftAf = detail.imagesAfter[t].large.url;
                    if (detail.imagesAfter[t].type === 'RECORD_RIGHT')
                      rightAf = detail.imagesAfter[t].large.url;
                    if (detail.imagesAfter[t].type === 'RECORD_BACK')
                      backAf = detail.imagesAfter[t].large.url;
                  }
              %>
              <input type="hidden" value="<%= leftAf%>" id="inp0" />
              <input type="hidden" value="<%= backAf%>" id="inp2" />
              <input type="hidden" value="<%= rightAf%>" id="inp1" />
            <ul>
              <li class="current">
                <a href="javascript:;" data-img="<%= leftBe%>" data-id="inp0">
                  <img src="" alt="product" />
                </a>
                <span class="span_text_left">left</span>
              </li>
              <li>
                <a href="javascript:;" data-img="<%= backBe%>" data-id="inp2">
                  <img src="" alt="product" />
                </a>
                <span class="span_text_">back</span>
              </li>
              <li>
                <a href="javascript:;" data-img="<%= rightBe%>" data-id="inp1">
                  <img src="" alt="product" />
                </a>
                <span class="span_text_">right</span>
              </li>
              <% //} %>
            </ul>
          </div>
        </ul>
      </div>

      <div class="info_detail">
        <article class="personal_icon">
            <% var user = post.get('createdBy').toJSON();
              var info = post.get('pickUpInfo');
            %>

          <div class="icon-info clearfix margin-bottom-20">
            <div class="sub">
              <div class="wrapper_detail">
                <span class="height_detail">
                  <a href="/stylist/<%= user.objectId%>" class="ah_detail">
                    <%= user.name%>
                  </a>
                </span>
              </div>
              <div class="wrapper_detail">
                <p>
                    <%= user.salon.name%>
                </p>
              </div>
            </div>
            <div class="info-staff">
                <% var avatar = '/img/no_photo.jpg';
                  if (typeof post.get('createdBy') != 'undefined') {
                    avatar = user.avatar.small.url;
                  }
                %>
              <div class="img-staff">
                <a href="/stylist/<%= user.objectId%>"><img class="avatar" src="<%= avatar; %>" /></a>
              </div>
            </div>
          </div>
          <div class="icon-info clearfix">
              <%
              if (typeof detail.menus != 'undefined') {
              %>
            <p class="ic-inf-p">
              <label>メニュー</label>
              <% for (var i = 0; i < detail.menus.length; i++) {
              var menu = detail.menus[i];
              %>
              <span><%= menu.title%></span> <br>
              <% } %>
            </p>
              <% } if (typeof detail.samplePrice != 'undefined') { %>
            <p class="ic-inf-p">
              <label>参考価格</label>
              <span><%= detail.samplePrice%></span>
            </p>
              <% } if (typeof detail.treatment != 'undefined') {
              var treatment = detail.treatment.split("\n");
              %>
            <p class="ic-inf-p">
              <label>施術内容</label>
              <% for (var t = 0; t < treatment.length; t++) {
                if (treatment[t].trim() === '') continue;
              %>
              <span><%= treatment[t]%></span><br>
              <% } %>
            </p>
              <% } if (typeof detail.styling != 'undefined') {
                var styling = detail.styling.split("\n");
              %>
            <p class="ic-inf-p">
              <label>スタイリストアドバイス</label>
              <% for (var t = 0; t < styling.length; t++) {
              if (styling[t].trim() === '') continue;
              %>
              <span><%= styling[t]%></span> <br>
              <% } %>
            </p>
              <% } %>
          </div>
        </article>

      </div>
    </section>
    <% } %>


    <!-- Related -->
    <section id="related">
      <div class="titlebox_related">
        <h2>このアイテムを使った人気のコーディネート</h2>
      </div>

      <div class="wrapper_posts">
      <%_ for (var t = 0; t < related.length; t++) { var img = related[t].toJSON();-%>
        <article class="post">
          <a href="/detail/view/<%= img.objectId%>" class="img_post">
            <img src="<%= img.imagesAfter[0].large.url %>" alt="" />
          </a>
        </article>
      <%_ } -%>
      </div>
    </section>

  </main>


  <%- include('../partials/_footer'); -%>
<%- include('../partials/_end', { jsFiles: ['detail.js', 'twitter.js']}); -%>
