<%_ if (JSON.stringify(data) != '[]') { -%>
  <%_ var i = 0; -%>
  <% data.forEach(function(post) { %>
    <%_ if (i % 2 == 0) { -%>
    <li>
    <%_ } -%>
      <!-- start -->
      <a href="<%= post.get('ecLinked').link; %>?utm_source=coordinate&utm_medium=toppage&utm_campaign=styling">
        <dl>
          <dt><img src="<%= post.get('coordinate').url(); %>" width="184" height="245" alt="サンプル"/></dt>
          <dd>
            <% var nickname = (typeof post.get('createdBy').get('nickname') != 'undefined') ?
              post.get('createdBy').get('nickname') :
              post.get('createdBy').get('username');
            %>
            <p><%= nickname; %></p>
            <p><%= parseInt(post.get('createdBy').get('height')); %>cm</p>
            <p><%= post.get('createdBy').get('shop').get('name') %></p>
            <p><%= post.get('caption'); %></p>
            <p class="godetail">
              <img src="https://shoedinate.com/img/godetail.png" alt="Detail →" height="14" width="52"/>
            </p>
          </dd>
        </dl>
      </a><!-- end -->
    <%_ if (i % 2 == 1) { -%>
    </li>
    <%_ } -%>
  <%_ i++; }); -%>
<%_ } -%>
