<%_ if (JSON.stringify(data) != '[]') { -%>
  <%_ var i = 1; var num = data.length; -%>
  <% data.forEach(function(post) { %>
    <li id="coordinateImgDisp0<%= i; %>" class="<%= (i == 1) ? 'firstChild' : (i == num ? 'end-ES lastChild' : ''); %>">
      <div class="clearfix">
        <div class="main">
          <p class="img overlayLink">
              <img src="<%= post.get('coordinate').url(); %>" alt="商品写真" width="120" height="160">
            <a class="clearfix" href="http://shoedinate.com/detail/new/<%= post.id; %>" rel="product" style="display: none;">
              <img src="<%= post.get('product').url(); %>" alt="商品写真" width="120" height="160">
            </a>
          </p>
        </div>
        <div class="sub">
          <div class="sizeColor">
            <% var avatar = (typeof post.get('createdBy').get('avatar') != 'undefined') ?
              post.get('createdBy').get('avatar').url() : 'http://shoedinate.com/img/no_photo.jpg'
            %>
            <div class="img-staff">
              <img class="avatar" src="<%= avatar; %>" />
            </div>
            <div class="infoStaff">
              <% var nickname = (typeof post.get('createdBy').get('nickname') != 'undefined') ?
                post.get('createdBy').get('nickname') :
                post.get('createdBy').get('username');
                var shop = post.get('createdBy').get('shop');
                var shopName = shop.get('name');
                var height = post.get('createdBy').get('height');
                var footSize = (typeof post.get('createdBy').get('footSize') == 'undefined') ? '' : post.get('createdBy').get('footSize');
              %>
              <div class="staff-info">
                <span class="staffName"><%= nickname; %></span>
                <span class="shopName"><%= shopName; %></span>
                <span class="userHeight">H<%= parseInt(height); %>
                <% if (footSize != '') {
                  footSize = parseFloat(footSize);
                  var size = '';
                  if (footSize >= 21 && footSize <= 21.5) {
                    size = 'XS';
                  } else if (footSize >= 22 && footSize <= 22.5) {
                    size = 'S';
                  } else if (footSize >= 23 && footSize <= 23.5) {
                    size = 'M';
                  } else if (footSize >= 24 && footSize <= 24.5) {
                    size = 'L';
                  } else if (footSize >= 25 && footSize <= 25.5) {
                    size = 'XL';
                  }
                %>
                  /<%= footSize; %>(<%= size; %>)
                <% } %>
                </span>
              </div>
            </div>
          </div>
          <div class="inner clearfix">
            <div class="detail">
              <div class="detailInner">
                <p class="txt"><%= post.get('caption'); %></p>
              </div>
            </div>
          </div>
          <span class="arw"></span>
          <span class="arwBordering"></span>
        </div>
      </div>
    </li>
  <%_ i++; }); -%>
  <%_ if (nextPage != 0) { -%>
    <li class="more-information">
      <a class="button more-coordinate" href="javascript:;" onclick="showMore('more-information', <%= nextPage; %>, '<%= productCd; %>')">
        MORE INFORMATION
      </a>
    </li>
  <%_ } -%>
<%_ } else { -%>
  <div class="RelatedPost">
    <span class="noRelatedPost">
      コーディネート投稿がありません。
    </span>
  </div>
<%_ } -%>

