<%_ if (JSON.stringify(data) != '[]') { -%>
  <%_ var i = 0; -%>
  <% data.forEach(function(post) { %>
    <%_ if (i % 3 == 0) { -%>
      <ul class="type_3 cl">
    <% } %>
        <li>
          <a href="<%= post.get('ecLinked').link; %>?utm_source=coordinate&utm_medium=toppage&utm_campaign=styling">
            <img src="<%= post.get('coordinate').url(); %>" width="184" height="245" alt="サンプル"/>
          </a>
        </li>
    <%_ if (i % 3 == 2) { -%>
      </ul>
    <%_ } -%>
  <%_ i++; }); -%>
<!--   <center>
    <a href="http://shoedinate.com/" target="_blank">
      <img src="http://shoedinate.com/img/EC-site/list_button055_on.gif" width="100%" alt="コーディネートをもっと見る"/>
    </a>
  </center> -->
<%_ } else { -%>
  <div class="RelatedPost">
    <span class="noRelatedPost">
      コーディネート投稿がありません。
    </span>
  </div>
<%_ } -%>
