<%- include('partials/_head', { cssFiles: ['home.css'] }); %>
  <%- include('partials/_header'); %>

  <main>
    <section id="new" style="margin-top: 35px;">
      <h2><%= title; %></h2>
      <div class="wrapper_posts">
        <p style="text-align: center;">Version : <%= appVersion; %></p>
        <p style="text-align: center; padding: 30px 0;">
          <span style="font-size: 2rem;">ダウンロードは</span><a href="itms-services://?action=download-manifest&amp;url=https://s3-ap-northeast-1.amazonaws.com/shoedinate-com/manifest.plist" style="font-size: 2rem; text-decoration: underline; color: #de6a10;">こちら</a>
        </p>
        <!--p style="text-align: center; padding: 30px 0;">
            <span style="font-size: 2rem;">現在アプリをアップデート中です（９月末公開予定）<br/>最新版のアプリアップデートまで、少々お待ち下さい。
        </p-->
      </div>
    </section>
  </main>

  <%- include('partials/_footer'); %>
  <%- include('partials/_end'); -%>

  </body>
</html>
