<!DOCTYPE HTML>
<html>
  <head>
    <title>404 | SHOE'DINATE by Esperanza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- link(plugin) -->
    <link rel="stylesheet" href="/css/default/font-awesome-4.4.0/css/font-awesome.min.css" />

    <!-- link(自分たちで記述する) -->
    <link rel="stylesheet" type="text/css" href="/css/default/default.min.css" />
    <link href="/css/error.css" rel="stylesheet" type="text/css" media="all" />

    <!-- link -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css' />
  </head>
<body>
  <div id="error">
    <div class="content">
      <div class="icon-error">
        <h1><a href="javascript:;"><img src="/img/404.png"></a></h1>
        <span><img src="/img/signal.png"><%= message %></span>
      </div>

      <div class="buttom">
        <div class="go-back">
          <p><a href="/">Go Back Home</a></p>
        </div>
      </div>

      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </div>
  </div>

</body>
</html>
