<%- include('partials/_head', { cssFiles: ['home.css'] }); %>
  <%- include('partials/_header'); %>

  <main>
    <section id="new" style="margin-top: 35px;">
      <h2><%= title %></h2>
      <div class="wrapper_posts">
        <p>PURCHAGE DONE.</p>
      </div>
      <div class="cart_complete">
        <table border="0" cellspacing="0" cellpadding="0" class="detail_area">
          <tbody>
            <tr>
              <td class="item_photo"><img src="//itemimg-eos.adss-sys.com/itemimg/EO010/A0EO00009OK7/02_K21.jpg?img_width=143" alt="プラットフォームチャンキーヒールショートブーツ" width="143" height="190" border="0"></td>
              <td class="item_info">
                <table border="0" cellspacing="0" cellpadding="0" class="item_detail">
                  <tbody>
                    <tr>
                      <td><span class="item_name">0169</span></td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" class="color_size">
                          <tbody>
                            <tr>
                              <td>カラー：ブラック / サイズ：S(22.0cm～22.5cm)</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" class="item_price">
                          <tbody>
                            <tr>
                              <th>価格</th>
                              <th>数量</th>
                              <th>小計/税込</th>
                              <th>&nbsp;</th>
                            </tr>
                            <tr>
                              <td>¥10,584<!--uu --></td>
                              <td>1</td>
                              <td>¥10,584</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" class="detail_area">
          <tbody>
            <tr>
              <td class="item_photo"><img src="//itemimg-eos.adss-sys.com/itemimg/EO010/A0EO00009MM4/02_K41.jpg?img_width=143" alt="ピッグスキンアーモンドトゥパンプス" width="143" height="190" border="0"></td>
              <td class="item_info">
                <table border="0" cellspacing="0" cellpadding="0" class="item_detail">
                  <tbody>
                    <tr>
                      <td><span class="item_name">0116本革</span></td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" class="color_size">
                          <tbody>
                            <tr>
                              <td>カラー：ブラックS / サイズ：22.5cm</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" class="item_price">
                          <tbody>
                            <tr>
                              <th>価格</th>
                              <th>数量</th>
                              <th>小計/税込</th>
                              <th>&nbsp;</th>
                            </tr>
                            <tr>
                              <td>¥7,452<!--uu --></td>
                              <td>1</td>
                              <td>¥7,452</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" cellspacing="0" cellpadding="0" class="detail_area">
          <tbody>
            <tr>
              <td class="item_photo"><img src="//itemimg-eos.adss-sys.com/itemimg/EO010/A0EO00009JFZ/02_K01.jpg?img_width=143" alt="メッキラインチャンキーヒールスクエアトゥミドルブーツ" width="143" height="190" border="0"></td>
              <td class="item_info">
                <table border="0" cellspacing="0" cellpadding="0" class="item_detail">
                  <tbody>
                    <tr>
                      <td><span class="item_name">メッキラインチャンキーヒールスクエアトゥミドルブーツ(K01)K11</span></td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" class="color_size">
                          <tbody>
                            <tr>
                              <td>カラー：ブラック系その他 / サイズ：S(22.0cm～22.5cm)</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" class="item_price">
                          <tbody>
                            <tr>
                              <th>価格</th>
                              <th>数量</th>
                              <th>小計/税込</th>
                              <th>&nbsp;</th>
                            </tr>
                            <tr>
                              <td>¥9,612<!--uu --></td>
                              <td>1</td>
                              <td>¥9,612</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>

  <%- include('partials/_footer'); %>

  <script type="text/javascript">
    shoedinateDomain = 'shoedinate.com';
    (function() {
      function async_load() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + shoedinateDomain + '/js/sdnt.js';
        var c = document.getElementsByTagName('script')[0];
        c.parentNode.insertBefore(s, c);
      }
      if (window.attachEvent) { window.attachEvent('onload', async_load); }
      else { window.addEventListener('load', async_load, false); }
    })();
  </script>
  </body>
</html>
