<%- include('partials/_head', { cssFiles: ['home.css'] }); %>
  <%- include('partials/_header'); %>


  <main>
    <section id="new" style="margin-top: 35px;">
      <h2><%= title %></h2>
      <div class="wrapper_posts">
        <a href="/order/complete" style="background:#de6a10; padding: font-size: 1.3rem; color: #fff; padding: 5px 20px;">Purchase Confirm</a>
      </div>
    </section>
  </main>

  <%- include('partials/_footer'); %>

  <script type="text/javascript">
    shoedinateDomain = 'shoedinate.com';
    (function() {
      function async_load() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + shoedinateDomain + '/js/sdnt.js';
        var c = document.getElementsByTagName('script')[0];
        c.parentNode.insertBefore(s, c);
      }
      if (window.attachEvent) { window.attachEvent('onload', async_load); }
      else { window.addEventListener('load', async_load, false); }
    })();
  </script>
  </body>
</html>
