@charset "UTF-8";

/*---------------------------------------------------------------*\
    $共通
\*---------------------------------------------------------------*/

/* Common */

body {
  background:#f9f9f9;
}

/* Detail */

#detail {
  letter-spacing: -.4em;
  width: 1024px;
  margin: 80px auto 0;
  padding: 0 0 50px;
  text-align: justify;
}
#detail h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #222;
  padding: 15px 0;
  border-bottom: solid 1px #eaeaea;
}
#detail .pic_detail {
  display: inline-block;
  width: 47.5%;
  margin: 0 5% 0 0;
  vertical-align: top;
}
#detail .pic_detail > div {
  position: relative;
  width: 100%;
}
#detail .slide {
  width: 80px;
  height: 100px;
  left: 20px;
  bottom: 20px;
  background: #eaeaea;
  position: absolute;
  cursor: pointer;
}
#detail .like_detail {
  background: #222;
  letter-spacing: -.4em;
  padding: 12px 15px;
}
#detail .like_button_detail, #detail .view_button_detail {
  width: 6%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
#detail .like_count_detail, #detail .view_count_detail {
  display: inline-block;
  letter-spacing: normal;
  width: 15%;
  font-size: 1.5rem;
  color: #fff;
  vertical-align: middle;
  margin: 0 0 0 13px;
}
#detail .like_detail .sharing-buttons {
  position: absolute;
  vertical-align: middle;
  right: 15px;
  top: 11px;
}
#detail .tag_detail {
  letter-spacing: -.4em;
  text-align: left;
  background: #fff;
  padding: 5px 15px 15px;
  border-top: solid 1px #353535;
}
#detail .tag_detail > li {
  display: inline-block;
  letter-spacing: normal;
  font-size: 1.2rem;
  background: #353535;
  padding: 7px 12px;
  text-align: center;
  border-radius: 2px;
  margin: 8px 8px 0 0;
}
#detail .tag_detail > li a {
  color: #fff;
}
#detail .info_detail {
  display: inline-block;
  width: 47.5%;
  vertical-align: top;
}
#detail .text_detail {
  background:#fff;
  padding: 20px;
  margin-top: 30px;
}
#detail .text_detail > p {
  font-size: 1.2rem;
  line-height: 23px;
  color: #444;
}
#detail .personal_detail {
  width: 100%;
  background: #fff;
  border-top: solid 6px #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0px 20px;
}
#detail .personal_icon {
  width: 100%;
  background: #fff;
  border-top: solid 6px #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 20px 20px;
}
#detail .personal_icon .icon-info {

}
#detail .personal_icon .wrapper_detail {
  margin: 0px 0 10px 0;
}
#detail .personal_icon .wrapper_detail .foot_size {
  margin: 10px;
}
#detail .personal_icon .icon-info .info-staff {
  height: 100%;
  width: 20%;
  padding-top: 0;
}
#detail .personal_icon .icon-info .info-staff .helper .nick_name {
  display: block;
  text-align: center;
}
#detail .personal_icon .icon-info .info-staff .helper .shop_name_detail {
  display: block;
  text-align: center;
}
#detail .personal_icon .icon-info .img-staff .helper {
  display: inline-block;
  vertical-align: middle;
}
#detail .personal_icon .icon-info .img-staff .avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#detail .personal_icon .icon-info .sub {
  width: 75%;
  float: right;
  max-height: 220px;
  position: relative;
}
#detail .personal_icon .icon-info .sub .wrapper_detail {
  padding-left: 0;
}
#detail .personal_icon .icon-info .sub .talking {
  padding-left: 0px;
  max-height: 178px;
}
#detail .personal_icon .icon-info .sub .inner {
  padding: 9px;
  border: 1px solid #dcdcdc;
  height: 178px;
}
#detail .personal_icon .icon-info .sub .talking .arw {
  border-right: solid 14px #fff;
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;
  position: absolute;
  top: 90px;
  left: -3px;
  z-index: 1;
}
#detail .personal_icon .icon-info .sub .talking .arwBordering {
  border-right: solid 15px #dcdcdc;
  border-top: solid 11px transparent;
  border-bottom: solid 11px transparent;
  border-left: solid 15px transparent;
  position: absolute;
  top: 89px;
  left: -9px;
}
#detail .wrapper_item {
  letter-spacing: -.4em;
  padding: 20px 0;
}
#detail .wrapper_item_smt {
  display: none;
}
#detail .item_detail {
  width: 100%;
  background: #fff;
  margin-top: 30px;
  border-top: solid 6px #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0px 20px;
}
#detail .img_item {
  width: 29%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
#detail .img_item img {
  width: 100%;
  height: auto;
}
#detail .info_item {
  width: 58%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  margin: 0 0 0 7%;
}
#detail .info_item > span {
  display: block;
}
#detail .brand_name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #444;
}
#detail .item_name {
  font-size: 1.2rem;
  color: #777;
}
#detail .price {
  font-size: 1.3rem;
  color: #444;
  font-weight: bold;
  padding-top: 4px;
}
#detail .order {
  width: 0;
  min-width: 115px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  background: #de6a10;
  padding: 8px 0;
  text-align: center;
  border-radius: 2px;
  display: block;
  margin-top: 8px;
}
.text_center{
  text-align: center;
}
/* ギャラリー */
#main_photo, #main_video{
  position: relative;

  overflow: hidden;
}
#main_photo img {
  position: absolute;
  width: 100%;
}
#thumbnail {
  /*width: 140px;*/
  letter-spacing: -.4em;
}
#thumbnail ul{
  text-align: center;
}
#thumbnail li{
  /*display: inline-block;*/
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  margin: 10px 0 0px 0;
  border: solid 1px #888;
  height: 125px;
  overflow: hidden;
  position: relative;
}
#thumbnail li:nth-of-type(2) {
  /*margin: 15px 0 0;*/
}
#thumbnail li img{
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#thumbnail li.current img{
  opacity: 1;
  filter: alpha(opacity=100);
}
#thumbnail #show-hide-switcher {
  display: inline-block;
  margin-top: -5px;
}
#thumbnail ul li span{
  position: absolute;
  top: 35px;
  z-index: 5;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}
#thumbnail .span_text_left{
  left: 40px;
}
#thumbnail .span_text_{
  left: 35px;
}
#photo_container .img_slide_thumb{
  position: absolute;
  left: 30px;
  bottom: 20px;
  border: 1px solid #fff;
  z-index: 5;
}
#infscr-loading{
  text-align: center;
  margin: 10px auto 0;
  font-size: 1.0rem;
}
#infscr-loading img{
  display: inline-block;
}

/* Related */

#related {
  width: 1024px;
  margin: 0 auto 30px;
  background:#fff;
}
.titlebox_related {
  border-top: solid 6px #eaeaea;
}
#related h2 {
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 20px 15px 20px;
  text-align: left;
  border-bottom: solid 1px #eaeaea;
}
#related .wrapper_posts {
  width: 980px;
  margin: 10px auto 0;
  padding-bottom: 20px;
  letter-spacing: -.4em;
  vertical-align: top;
  text-align: left;
}
#related .post {
  width: 237.5px;
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  background: #d9d9d9;
  margin: 10px 10px 0 0;
  vertical-align: top;
  box-shadow: 1px 1px 1px rgba(189, 195, 199, 0.3), -2px 1px 1px rgba(189, 195, 199, 0.3), 1px 1px 1px rgba(189, 195, 199, 0.3);
}
#related .post:nth-of-type(4n) {
  margin: 1% 0 0 0;
}
#related .post:before {
  content: "";
  display: block;
  padding-top: 100%; /* ratio */
}
#related .img_post {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#related .info_post {
  bottom: 0;
    letter-spacing: -.4em;
    left: 0;
    width: 100%;
    padding: 12px 18px;
    margin-top: 8px;
    background: rgba(255, 255, 255, 1);
}
#related .like_post {
  float: left;
  width: 30px;
  margin-top: 3px;
}
#related .like_post img {
  width: 100%;
  height: auto;
}
#related .detail_post {
  width: 68%;
  float: right;
  text-align: right;
}
#related .shop_name {
  display: block;
  font-size: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #555;
}
#related .height {
  display: block;
  font-size: 1.2rem;
  color: #555;
}
#related .see_more {
  background: #222;
  margin: 10px 0 0 0;
}
#related .see_more > span {
  color: #fff;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 59% 0;
}

/* Hashtag */

#hashtag {
  width: 1024px;
  margin: 0 auto;
  background:#fff;
}
.titlebox_hashtag {
  border-top: solid 6px #eaeaea;
}
#hashtag h2 {
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 20px;
  text-align: left;
  border-bottom: solid 1px #eaeaea;
}
.tag_hashtag {
  letter-spacing: -.4em;
  background: #fff;
  padding: 0 15px 15px 15px;
  text-align: left;
}
.tag_hashtag > li {
  display: inline-block;
  letter-spacing: normal;
  color: #444;
  font-size: 1.2rem;
  background: #eaeaea;
  padding: 7px 12px;
  text-align: center;
  border-radius: 2px;
  margin: 12px 12px 0 0;
}

/* Phone-tash */

#phone-tag {
  width: 1024px;
  margin: 0 auto;
  background:#fff;
  display: none;
}
#phone-tag h2 {
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px 20px;
  text-align: left;
  border-bottom: solid 1px #eaeaea;
}
.height_detail .ah_detail {
  font-size: 2rem;
}
.wrapper_detail .pp_detail {
  text-decoration: underline;
  color: #C00;
}
.ic-inf-p label {
  display: block;
  font-weight: bold;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.ic-inf-p {
  margin-bottom: 10px;
}
.left_shop_top_detail {
  float: left;
  width: 35%;
}
.right_shop_top_detail {
  float: right;
  width: 60%;
}
.left_shop_info {
  width: 30%;
  margin-right: 5%;
  float: left;
}
.left_shop_info img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.shop_top_info .font-span {
  background: #ddd;
  padding: 5px 0px;
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  width: 50px;
}
.shop_top_info {
  margin-bottom: 15px;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.wrapper_detail_list .post {
  width: 331px;
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  background: #d9d9d9;
  margin: 10px 10px 0 0;
  vertical-align: top;
  box-shadow: 1px 1px 1px rgba(189, 195, 199, 0.3),
  -2px 1px 1px rgba(189, 195, 199, 0.3), 1px 1px 1px rgba(189, 195, 199, 0.3);
  overflow: hidden;
}
.wrapper_detail_list .post:nth-of-type(3n) {
  margin: 10px 0 0 0;
}
.wrapper_detail_list .post:before {
  content: "";
  display: block;
  padding-top: 100%; /* ratio */
}
.wrapper_detail_list .img_post {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}

/*---------------------------------------------------------------*\
    $Tablets - Under 906px
\*---------------------------------------------------------------*/

@media screen and (max-width: 906px) {

  .wrapper_detail_list .post {
    width: 32%;
    margin: 1% 1% 0 0;
  }
  .wrapper_detail_list .post:nth-of-type(3n) {
    margin: 1% 0 0 0;
  }
  #detail {
    width: 94%;
  }
  #detail .like_button_detail, #detail .view_button_detail {
    width: 7%;
  }
  #detail .height_detail {
    width: 100%;
    display: block;
  }
  #detail .shop_name_detail {
    width: 100%;
    display: block;
  }
  #detail .img_item {
    width: 35%;
  }
  #detail .order {
    padding: 7px 0;
  }
  #related {
    width: 94%;
  }
  #related .wrapper_posts {
    width: 94%;
  }
  #related .post {
    width: 24.25%;
    margin: 1% 1% 0 0;
  }
  #related .info_post {
    padding: 12px 16px;
    margin-top: 6px;
  }
  #related .shop_name {
    font-size: 1.2rem;
  }
  #related .height {
    font-size: 1.1rem;
  }
  #related .like_post {
    width: 26px;
    margin-top: 4px;
  }
  #related .see_more {
    margin: 1% 0 0 0;
  }
  #related .see_more > span {
    font-size: 1.5rem;
    padding: 61% 0;
  }
  #hashtag {
    width: 94%;
  }
  #phone-tag {
    display: block!important;
    width: 94%;
    margin-bottom: 30px;
    background:#fff;
  }
  #detail .tag_detail {

  }
  #thumbnail li{
    /*display: inline-block;*/
    height: 105px;
  }
  #thumbnail .span_text_left{
    left: 27px;
  }
  #thumbnail .span_text_{
    left: 20px;
  }

   /* avatar and caption*/
  #detail .personal_icon .icon-info .info-staff .helper {
    padding: 5px 0;
    height: 72px;
  }
  #detail .personal_icon .icon-info .sub .inner {
    overflow-y: auto;
  }
  #detail .personal_icon .icon-info .info-staff {
    width: 30%;
  }
  #detail .personal_icon .icon-info .sub {
    width: 65%;
  }
  #detail .personal_icon .icon-info .sub .talking .arw {
    left: -2px;
    top: 85px;
  }
  #detail .personal_icon .icon-info .sub .talking .arwBordering {
    top: 84px;
  }
}

/*---------------------------------------------------------------*\
    $Under480px - Smartphones
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {

  /* Detail */
  .wrapper_detail_list .post {
    width: 48.5%;
    margin: 1% 1% 0 0;
  }
  .wrapper_detail_list .post:nth-of-type(2n) {
    margin: 1% 0 0 0;
  }
  #detail {
    width: 94%;
    margin-top: 60px;
    padding-bottom: 0px;
    letter-spacing: inherit;
  }
  #detail h2 {
    padding: 15px 0;
  }
  #detail .wrapper_detail {
    padding-bottom: 0px;
  }
  #detail .pic_detail {
    width: 100%;
    margin: 0;
  }
  #detail .like_detail {
    padding: 12px 20px;
  }
  #detail .like_detail .sharing-buttons {
    top: 10px;
    right: 20px;
  }
  #detail .info_detail {
    width: 100%;
  }
  #detail .item_detail {
    margin-top: 0px;
  }
  #detail .text_detail {
    margin-top: 0;
    padding: 5px 20px 20px;
  }
  #detail .brand_name {
    font-size: 1.2rem;
  }
  #detail .img_item {
    width: 35%;
    vertical-align: top;
  }
  #detail .price {
    font-size: 1.2rem;
  }
  #detail .info_item {
    vertical-align: top;
  }
  #detail .like_button_detail, #detail .view_button_detail {
    width: 9%;
  }
  #detail .tag_detail {
    display: none;
    width: 100%;
    letter-spacing: -.4em;
  }
  #detail .tag_detail > li {
    display: inline-block;
    letter-spacing: normal;
    font-size: 1.2rem;
  }
  #detail .order {
    font-size: 1.2rem;
  }
  #detail .height_detail,
  #detail .shop_name_detail {
    display: block;
  }
  #detail .height_detail {
    width: 100%;
  }
  /* ギャラリー */
  #main_photo, #main_video{
    position: relative;
  }
  #thumbnail {
    /*bottom: 18px;*/
    top: 15px;
    left: 15px;
    max-width: 60px;
  }
  #thumbnail li {
    /*margin: 0 18px 0 0;*/
    display: block;
    margin-bottom: 15px;
    max-width: 60px !important;
    min-width: 40px !important;
  }
  #detail .wrapper_item {
    display: none;
  }
  #detail .wrapper_item_smt {
    display: block;
    padding: 20px 0;
  }
  #detail .wrapper_item_smt .order_item {
    letter-spacing: -.4em;
    display: block;
  }

  /* Related */

  #related {
    width: 94%;
    margin: 0 auto 0px;
  }
  #related .wrapper_posts {
    width: 88%;
  }
  #related .post {
    width: 49%;
    margin: 7px 2% 0 0;
  }
  #related .post:nth-of-type(4n) {
    margin: 7.2px 0 0 0;
  }
  #related .post:nth-of-type(2n) {
    margin: 7.2px 0 0 0;
  }
  #related .see_more {
    margin: 7.2px 0 0 0;
  }
  #related .see_more > span {
    font-size: 1.6rem;
  }
  #related h2 {
    padding: 18px 20px 18px 20px;
  }
  #related .info_post {
    padding: 12px 12px 6px;
    margin-top: 6px;
  }
  #related .like_post {
    width: 26px;
  }

  /* Hashtag */
  #hashtag {
    width: 94%;
  }
  #phone-tag {
    display: block!important;
    width: 94%;
    margin-bottom: 0px;
    background:#fff;
  }

  /* avatar and caption*/
  #detail .personal_icon .icon-info .sub {
    width: 70%;
  }
  #detail .personal_icon .icon-info .sub .inner {
    overflow-y: auto;
  }
  #detail .personal_icon .icon-info .info-staff {
    width: 25%;
  }
  #detail .personal_icon .icon-info .sub .talking .arw {
    top: 80px;
  }
  #detail .personal_icon .icon-info .sub .talking .arwBordering {
    top: 79px;
  }
  #detail .personal_icon .icon-info .info-staff .helper {
    height: 78px;
  }
}

/*---------------------------------------------------------------*\
    $320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
  .wrapper_detail_list .post {
    width: 48.5%;
    margin: 1% 1% 0 0;
  }
  .wrapper_detail_list .post:nth-of-type(3n) {
    margin: 1% 0 0 0;
  }

  #detail .img_item {
    width: 40%;
  }
  #detail .info_item {
    width: 53%;
  }
  #related .info_post {
    margin-top: 5px;
  }

  /* avatar and caption*/
  #detail .personal_icon .icon-info .sub .talking {
    max-height: 158px;
  }
  #detail .personal_icon .icon-info {

  }
  #detail .personal_icon .icon-info .sub {
    width: 65%;
    height: 200px;
  }
  #detail .personal_icon .icon-info .info-staff {
    width: 25%;
  }
  #detail .personal_icon .icon-info .sub .inner {
    overflow-y: auto;
    height: 158px;
  }
  #detail .personal_icon .icon-info .sub .talking .arw {
    top: 70px;
  }
  #detail .personal_icon .icon-info .sub .talking .arwBordering {
    top: 69px;
  }
  #detail .personal_icon .icon-info .info-staff .helper {
    height: 68px;
  }
}
