@charset "UTF-8";
/*---------------------------------------------------------------*\
  $INDEX
\*---------------------------------------------------------------*/
/*
・共通
・◯◯◯◯◯
・◯◯◯◯◯
*/

/*---------------------------------------------------------------*\
  $共通
\*---------------------------------------------------------------*/

/* Common */

body {
  background:#f9f9f9;
}
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}
[class*="fontawesome-"]:before {font-family: 'fontawesome', sans-serif;}


/* Search */

#search {
  width: 1024px;
  margin: 0 auto;
  padding: 30px 0 0px;
}
#search h2 {
  text-align: center;
  font-size: 2.4rem;
  /*padding-top: 40px;*/
  font-weight: bold;
  /*font-family: 'Oswald', sans-serif;*/
}
#search .summary_search {
  font-size: 1.2rem;
  text-align: center;
  color: #777;
  line-height: 21px;
  padding-top: 5px;
}
#search .summary_search br {
  display: none;
}
#search .search_engine_search {
  letter-spacing: -.4em;
  margin-top: 30px;
}
#search .tag_box {
  width: 820px;
  margin: 0 24px 0 0;
  background: #eaeaea;
  border-radius: 3px;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  letter-spacing: -.4em;
  padding: 0 15px 12px 15px;
  text-align: left;
}
#search .tag_box > li {
  display: inline-block;
  letter-spacing: normal;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 7px 24px 7px 12px;
  text-align: center;
  border-radius: 3px;
  margin: 12px 12px 0 0;
}
#search .tag_box > li.tagit-choice {
  background: #222;
}
#search .tag_box > li > span.tagit-label {
  font-size: 1.2rem;
}
#search .buttons {
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
#search .search_button {
  display: block;
  letter-spacing: normal;
  color: #fff;
  background: #de6a10;
  padding: 10px 0 8px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}
#search .detail_search_button {
  display: block;
  letter-spacing: normal;
  color: #444;
  margin-top: 18px;
  border: solid 2px #444;
  background: #fff;
  padding: 9px 0 7px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}
#search .detail_search_button:hover {
  color: #fff;
  background: #444;
}
#search .trend_search {
  width: 1024px;
  padding-top: 20px;
  margin-top: 30px;
  background: #222;
  border-radius: 3px;
}
#search .trend_search > h2 {
  text-align: center;
  font-weight: 400;
  padding: 14px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2.4rem;
  background: #eaeaea;
  border-bottom: solid 1px #d9d9d9;
}
#search .tags_search {
  overflow-y: auto;
  max-height: 340px;
}
#search .search_type_pc {
  letter-spacing: -.4em;
  padding: 14px 0;
  text-align: center;
  border-bottom: solid 1px #d9d9d9;
}
#search .search_type_pc > li {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: normal;
}
#search .last_type:after {
  margin: 0 !important;
  content: "" !important;
  display: block;
}
#search .search_type_pc > li:after {
  content: "|";
  display: inline-block;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0 30px 0 30px;
}
#search .title_type {
  font-weight: bold;
}
#search .tags_search > li {
  /*padding: 13px 20px;*/
  background: #ececec;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}
#search .tags_search > li > a {
  padding: 13px 20px;
  display: block;
  color: #333;
}
#search .tags_search > li > a:hover,
#search .tags_search > li > a:focus {
  color: #fff;
}
#search ul.tags_search > li:nth-of-type(2n) {
  background: #ddd;
}
#search ul.tags_search > li.checked,
#search ul.tags_search > li:hover,
#search ul.tags_search > li:focus {
  background: #de6a10;
  /*color: #fff;*/
  /*border-bottom: 1px solid #d9d9d9;*/
}

/* 検索BOX */

form.search {
margin: 0;
}
form.search div {
  width: 510px;
  letter-spacing: -.4em;
  margin: 0 auto;
  border-right: 2px;
  overflow: hidden;
}
form.search input.textBox {
  width: 510px;
  border-radius: 2px;
  padding: 6px 9% 6px 6px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  background-color: #444;
  border: none;
  color: #fff;
  position: relative;
}
form.search input.reset_button {
  font-size: 1.4rem;
  position: absolute;
  top: 8px;
  right: 2.5%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  width: 18px;
  background-color: #444;
  border: none;
}
input::-webkit-input-placeholder {
 font-size: 1.3rem;
 padding-top: 3px;
 color: #9d9d9d;
}
input:-ms-input-placeholder {
  font-size: 1.3rem;
  padding-top: 3px;
  color: #9d9d9d;
}
input::-moz-placeholder {
  padding-top: 3px;
 font-size: 1.3rem;
 color: #9d9d9d;
}
#search .title_type {
  display: block;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

/* Navigation */

#navigation {
  width: 100%;
  margin: 20px auto 0;
  background:#fff;
}
#navigation h2 {
  font-size: 2.5rem;
  color: #222;
  font-weight: 600;
  text-align: center;
  color: rgba(0,0,0,.6);
}
#navigation nav:after {
  content:'';
  width: 20%;
  height: 44px;
  background: #333;
  position: absolute;
  transition: .5s;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
  border-bottom: solid 4px #de6a10;
}
#navigation input {
  display: none;
}
#navigation label {
  width: 20%;
  float: left;
  padding-top: 2px;
  line-height: 42px;
  color: #444;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
#navigation label:hover {color: #de6a10;}
#navigation label:before {
  display: block;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 2;
}
#top:checked ~ nav [for='top'],
#item:checked ~ nav [for='item'],
#height:checked ~ nav [for='height'],
#staff:checked ~ nav [for='staff'],
#shop:checked ~ nav [for='shop'] {
  color: #fff;
  font-weight: bold;
}
#top:checked ~ nav [for='top'] {}
#item:checked ~ nav [for='item'] {}
#height:checked ~ nav [for='height'] {}
#staff:checked ~ nav [for='staff'] {}
#shop:checked ~ nav [for='shop'] {}

#top:checked ~ nav:after {
  left: 0;
}
#item:checked ~ nav:after {
  left: 20%;
}
#height:checked ~ nav:after {
  left: 40%;
}
#staff:checked ~ nav:after {
  left: 60%;
}
#shop:checked ~ nav:after {
  left: 80%;
}
#top:checked ~ .uno,
#item:checked ~ .dos,
#staff:checked ~ .tres,
#shop:checked ~ .cuatro {
  display: block;
  transform: scale(1);
  transition-delay: .5s;
}
#navigation a {color: rgba(0,0,0,.4)}
#navigation a:hover {color: rgba(0,0,0,.2)}

.navigation-content {
  position: relative;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  height: 340px;
  background: #eaeaea;
}

.navigation-content > ul {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0px;
  z-index: 1;
  opacity: 0;
}

/*.content-top, .content-staff {
  -webkit-transform: translateX(-2250px);
  -moz-transform: translateX(-2250px);
  -o-transform: translateX(-2250px);
  -ms-transform: translateX(-2250px);
  transform: translateX(-2250px);
}*/

.content-top, .content-staff, .content-height, .content-item, .content-shop {
  -webkit-transform: translateX(2250px);
  -moz-transform: translateX(2250px);
  -o-transform: translateX(2250px);
  -ms-transform: translateX(2250px);
  transform: translateX(2250px);
}

#navigation #top:checked ~ .navigation-content .content-top,
#navigation #item:checked ~ .navigation-content .content-item,
#navigation #height:checked ~ .navigation-content .content-height,
#navigation #staff:checked ~ .navigation-content .content-staff,
#navigation #shop:checked ~ .navigation-content .content-shop {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  z-index: 100;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all ease-out 0.2s 0.1s;
  -moz-transition: all ease-out 0.2s 0.1s;
  -o-transition: all ease-out 0.2s 0.1s;
  -ms-transition: all ease-out 0.2s 0.1s;
  transition: all ease-out 0.2s 0.1s;
}

.loading-overlay img {
  display: inline-block;
}
.loading-overlay span {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #de6a10;
}

.search-no-data {
  text-align: center;
}
.search-no-data .note {
  padding: 30px 0px;
  color: #ff0000;
}
.search-no-data ul {
}
.search-no-data ul li {
  padding: 5px 0;
}
.search-no-data ul li span {
  font-weight: bold;
}
/*---------------------------------------------------------------*\
  $906px
\*---------------------------------------------------------------*/

@media screen and (max-width: 906px) {

  #search {
    width: 94%;
  }
  #search .tag_box {
    width: 71.6%;
  }
  #search .trend_search {
    width: 100%;
  }
}

/*---------------------------------------------------------------*\
  $480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {

  /* New */

  #search {
    width: 94%;
    padding: 25px 0 0px;
  }
  #search h2 {
    font-size: 2.2rem;
  }
  #new .summary_search {
    line-height: 23px;
    text-align: justify;
  }
  #search .summary_search br {
    display: block;
  }
  #search .search_engine_search {
    letter-spacing: inherit;
  }
  #search .tag_box {
    width: 100%;
    margin: 0;
  }
  #search .search_engine_search {
    margin-top: 15px;
  }
  #search .buttons {
    width: 100%;
    letter-spacing: -.4em;
    padding-top: 20px;
  }
  #search .search_button {
    display: inline-block;
    width: 48%;
    padding: 11px 9px;
    margin: 0 4% 0 0;
    font-size: 1.3rem;
  }
  #search .detail_search_button {
    width: 48%;
    padding: 9px;
    display: inline-block;
    margin: 0 0 0 0;
    font-size: 1.3rem;
  }
  #search .trend_search {
    width: 100%;
    margin-top: 20px;
    padding-top: 13px;
  }
  #search .tags_search {
    max-height: 260px;
  }
  #search .trend_search > h2 {
    font-size: 1.8rem;
    padding: 10px 0;
  }
  #search .trend_search li {
    /*padding: 12px 20px;*/
    font-size: 1.2rem;
  }
  #search .trend_search li a {
    padding: 12px 20px;
  }
  #search .navigation-content {
    height: 260px;
  }
  form.search div {
    width: 94%;
    margin: 0 auto;
  }
  form.search input.textBox {
    width: 100%;
  }
  form.search input.reset_button {
    top: 9px;
  }
  form.search input.textBox {
    padding: 6px 12% 6px 6px;
  }
  #navigation {
    margin: 13px auto 0;
  }
  .search-no-data .note {
    padding: 20px 0;
  }
}


/*---------------------------------------------------------------*\
  $320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {

  #navigation label {
    font-size: 1.1rem;
  }
}
