html {
    background: transparent;
    overflow: hidden;
}
body {
    background: url('../img/error_bg.jpg') no-repeat 100%;
    background-size: 100%;
    font-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: inherit;
}
* {
    color: #fff;
}
img {
    display: inline-block;
}
#error {
    margin: 5.2% auto 4%;
    width: 70%;
    padding: 0;
    vertical-align: baseline;
}
.icon-error {
    padding: 1em;
    text-align: center;
    padding: 1% 1% 5% 1%;
}
.icon-error h1 {
    display: block;
    padding: 2em 0em;
}
.icon-error h1 img {
    max-width: 100%;
}
.icon-error span {
    font-size: 2em;
    line-height: 1.4em;
    color:#fff;
}
.icon-error span img {
    width:40px;
    height: 40px;
    vertical-align: bottom;
    margin: 0px 10px;
}
.buttom {
    background:url('../img/error_buttom_bg.png') no-repeat 100% 0%;
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    width: 556px;
}
.go-back {
    padding: 5em 0;
}
.go-back p {
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    margin: 2.6em 0em 0.9em 0em;
}
.go-back a {
    font-size: 1.3em;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}
.go-back a:hover,
.go-back a:focus {
    text-decoration: underline;
}

pre {
    max-width: 100%;
    overflow: auto;
}

/*********Media Queries************/
@media screen and (max-width: 480px) {
    #error {
        width: 90%;
    }
    .icon-error {
        padding: 1% 1% 12% 1%;
    }
    .icon-error span {
        font-size: 1.4em;
    }
    .icon-error span img {
        vertical-align: middle;
    }
    .icon-error img {
        width: 200px;
    }
    .buttom {
        width: 290px;
    }
    .go-back {
        padding: 4.5em 0;
    }
    .go-back p {
        font-size: 1em;
        margin: 0;
    }
}
