@charset "UTF-8";

/*---------------------------------------------------------------*\
  $共通
\*---------------------------------------------------------------*/

/* Common */

body {
  background:#f9f9f9;
}
#infscr-loading {
  text-align: center;
  margin: 10px auto 0;
  font-size: 1.0rem;
}
#infscr-loading img {
  display: inline-block;
}

/* New */

#new {
  max-width: 1200px;
  min-width: 1024px;
  padding: 30px 0 0;
  position: relative;
}
#new h2 {
  text-align: center;
  font-size: 2.9rem;
  color: #222;
  font-family: 'Oswald', sans-serif;
}
#new .summary_new {
  font-size: 1.2rem;
  color: #777;
  line-height: 25px;
  padding-top: 5px;
}
#new .wrapper_contents {
  letter-spacing: -.4em;
  width: 75%;
  margin: 0 auto;
  height: 700px;
  background: #d9d9d9;
  margin-top: 30px;
}
#new {
  width: 1024px;
  margin: 0 auto;
}
#content {
  letter-spacing: -.4em;
  padding-top: 22px;
  vertical-align: top;
}
#new .post {
  width: 248.5px;
  position: relative;
  display: inline-block !important;
  letter-spacing: normal;
  background: #d9d9d9;
  margin: 10px 10px 0 0;
  vertical-align: top;
  box-shadow: 1px 1px 1px rgba(189, 195, 199, 0.3),
        -2px 1px 1px rgba(189, 195, 199, 0.3), 1px 1px 1px rgba(189, 195, 199, 0.3);
}
#new .post:nth-of-type(4n) {
  margin: 10px 0 0 0;
}
#new .post:before {
  content: "";
  display: block;
  padding-top: 130%; /* ratio */
}
#new .img_post {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}
#new .info_post {
  bottom: 0;
  letter-spacing: -.4em;
  left:0;
  width: 100%;
  padding: 12px 18px;
  margin-top: 8px;
  background: rgba(255, 255, 255, 1);
}
#new .like_post {
  float: left;
  width: 30px;
  margin-top: 3px;
}
#new .like_post img {
  width: 100%;
  height: auto;
}
#new .detail_post {
  float: right;
  text-align: right;
}
#new .shop_name {
  display: block;
  font-size: 1.3rem;
  color: #555;
}
#new .height {
  display: block;
  font-size: 1.2rem;
  color: #555;
}


/*---------------------------------------------------------------*\
  $906px - Tablets
\*---------------------------------------------------------------*/

@media screen and (max-width: 907px) {

  #navigation {
    width: 94%;
  }
  #new {
    width: 94%;
    margin: 0 auto;
    max-width: inherit;
    min-width: inherit;
  }
  #new .wrapper_posts {
    width: 100%;
  }
  #new .post {
    width: 24.25%;
    margin: 1% 1% 0 0;
  }
  #new .like_post {
    width: 26px;
    margin-top: 4px;
  }
  #new .info_post {
    padding: 12px 12px;
    margin-top: 6px;
  }
  #new .post:nth-of-type(4n) {
    margin: 1% 0 0 0;
  }
  #new .shop_name {
    font-size: 1.2rem;
  }
  #new .height {
    font-size: 1.2rem;
  }
}

/*---------------------------------------------------------------*\
  $480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {

  /* New */

  #new {
    margin-top: 25px;
    width: 94%;
    min-width: inherit;
    padding: 0px;
  }
  #new .summary_new {
    line-height: 21px;
  }
  #new .info_post {
    padding: 12px 6px 6px;
  }
  #new .like_post {
    width: 25px;
    margin-top: 0px;
  }
  #new .height {
    font-size: 1.1rem;
  }
  #new .wrapper_posts {
    padding-top: 10px;
  }
  #new .post {
    width: 49%;
    margin: 2% 2% 0 0;
  }
  #new .post:nth-of-type(4n) {
    margin: 2% 0 0 0;
  }
  #new .post:nth-of-type(2n) {
    margin: 2% 0 0 0;
  }
  #new h2 {
    font-size: 2.6rem;
  }
  #new .shop_name {
    font-size: 1.1rem;
  }
  #new .back_top {
    bottom: 10px;
    right: 3%;
    z-index: 999;
    background-size: 60px 60px;
  }


/*---------------------------------------------------------------*\
  $320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
  #new .info_post {
    margin-top: 5px;
  }
}
