@charset "UTF-8";

/*---------------------------------------------------------------*\
    $共通
\*---------------------------------------------------------------*/
/* ec-footer*/

footer {
    margin: 70px 0 0 0;
    background: #ffffff;
}

footer .footer_gotop {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

footer .footer_gotop a {
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 30px;
    text-indent: -9999px;
    display: block;
}

footer .footer_gotop a:after {
    content: "";
    width: 12px;
    height: 12px;
    margin-top: -4px;
    margin-left: -6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

footer .sp_disp {
    display: none;
}

footer .footer_sns_navi {
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}

footer .cl:after {
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    content: " ";
}

footer .footer_sns_navi ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

footer .footer_sns_navi ul li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
}

footer .footer_sns_navi ul li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-indent: -9999px;
    line-height: 34px;
}

footer .footer_sns_navi ul li.instagram {
    border-right: 1px solid #a6a6a6;
    padding: 0 94px 0 16px;
}

footer .footer_sns_navi ul li.email {
    padding: 0 0 0 76px;
}

footer .footer_sns_navi ul li.line a {
    background: url(https://www.esp-shoe.com/static/full/images/footer/footer_sns_icon_01.jpg) no-repeat;
}

footer .footer_sns_navi ul li.twitter a {
    background: url(https://www.esp-shoe.com/static/full/images/footer/footer_sns_icon_02.jpg) no-repeat;
}

footer .footer_sns_navi ul li.facebook a {
    background: url(https://www.esp-shoe.com/static/full/images/footer/footer_sns_icon_03.jpg) no-repeat;
}

footer .footer_sns_navi ul li.instagram a {
    background: url(https://www.esp-shoe.com/static/full/images/footer/footer_sns_icon_04.jpg) no-repeat;
}

footer .footer_sns_navi ul li.email a {
    display: inline-block;
    width: auto !important;
    height: 34px;
    color: #7c7b7b;
    font-size: 15px !important;
    text-indent: 0 !important;
    line-height: 34px;
    background: url(https://www.esp-shoe.com/static/full/images/footer/footer_sns_icon_05.jpg) no-repeat left center;
    padding-left: 54px;
}

footer .footer_sns_navi ul li.email a:hover {
    color: #0c308e;
    text-decoration: underline;
}

footer .footer_sub_navi {
    background: #a6a6a6;
    padding: 30px 0;
}

footer .footer_sub_navi ul {
    margin-bottom: 60px;
    text-align: center;
    list-style: none;
}

footer .footer_sub_navi ul li {
    display: inline-block;
    line-height: 1em;
    border-right: 1px solid #fff;
}

footer .footer_sub_navi ul li:nth-child(5) {
    border-right: none;
}

footer .footer_sub_navi ul li a {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    line-height: 1em;
    padding: 0 21px;
}

footer .footer_sub_navi ul li a:hover {
    text-decoration: underline;
}

footer .footer_copyright {
    display: block;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

/*EC-footer-smt*/


/*---------------------------------------------------------------*\
    $906px
\*---------------------------------------------------------------*/

@media screen and (max-width: 906px) {

}

/*---------------------------------------------------------------*\
    $670px
\*---------------------------------------------------------------*/

@media screen and (max-width: 680px) {
    footer .footer_sub_navi ul li:nth-child(4) {
        border-right: none;
        padding-left: 1px;
    }
    footer .footer_sns_navi ul li.instagram {
        padding: 0 30px 0 5px;
    }
    footer .footer_sns_navi ul li.email {
        padding: 0 0 0 30px;
    }
    footer .footer_sns_navi ul li {
        padding: 0 5px;
    }
}

/*---------------------------------------------------------------*\
    $480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {
    footer .sp_disp {
        display: block;
    }
    footer .footer_sns_navi {
        border-top: 1px solid #a6a6a6;
        padding: 23px 0;
    }
    footer .footer_sns_navi h4 {
        height: 24px;
        width: 100%;
        text-align: center;
    }
    footer .footer_sns_navi h4 img {
        height: 24px;
        width: 160px;
        display: inline-block;
    }
    footer .footer_sns_navi ul {
        text-align: center;
        margin: 15px 0px 15px 0px;
    }
    footer .footer_sns_navi ul li {
        width: 23%;
        text-align: center;
        border-right: 1px solid #a6a6a6;
    }
    footer .footer_sns_navi ul li.instagram {
        border-right: none;
        padding: 0 0 0 0;
    }
    footer .footer_sns_navi ul .pc_disp {
        display: none;
    }
    footer .footer_sns_navi p.email {
        text-align: center;
    }
    footer .footer_sns_navi p.email a {
        display: inline-block;
        color: #7c7b7b;
        font-size: 15px;
        font-weight: bold;
        line-height: 31px;
        text-decoration: none;
        background: url(https://www.esp-shoe.com/static/full/images/footer/footer_sns_icon_05.jpg) no-repeat;
        background-size: 37px 30px;
        padding-left: 48px;
    }
    footer .footer_sub_navi ul li {
        display: inline-block;
        letter-spacing: -0.005em;
        border-right: 1px solid #ffffff;
        margin: 5px 2px 5px 2px;
        padding: 5px 10px 5px 10px;
    }
    footer .footer_sub_navi ul li a {
        padding: 0 10px;
    }
    footer .footer_sub_navi ul li:nth-child(3) {
        border-right: none;
    }
    footer .footer_sub_navi ul li:nth-child(4) {
        border-right: 1px solid #ffffff;
    }
    footer .footer_gotop a {
        width: 50px;
        height: 50px;
    }
}


/*---------------------------------------------------------------*\
    $390px
\*---------------------------------------------------------------*/

@media screen and (max-width: 390px) {
    footer .footer_sub_navi ul li {
        margin: 5px 0px 6px 0px;
        padding: 5px 0px 5px 0px;
    }
    footer .footer_sub_navi ul {
        margin-bottom: 50px;
    }
}

/*---------------------------------------------------------------*\
    $320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {

}
