@charset "UTF-8";
/*---------------------------------------------------------------*\
    $INDEX
\*---------------------------------------------------------------*/
/*
・共通
・◯◯◯◯◯
・◯◯◯◯◯
*/

/*---------------------------------------------------------------*\
    $共通
\*---------------------------------------------------------------*/

/* header esp-pc */
header {
    background: #ffffff;
}

header .inner {
    width: 1024px;
    height: 54px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

header .inner a {
    float: left;
    padding: 13px 0 0 1px;
}

header #breadcrumbs {
    width: 100%;
    background: #ffffff;
    border-top: solid 1px #cccccc;
    padding: 3px 0;
    margin: 0 auto;
}

header #breadcrumbs .innerBr {
    width: 1024px;
    text-align: left;
    list-style: none;
    margin: 0 auto;
    padding: 0 0 0 1px;
}

header #breadcrumbs .innerBr li:last-child {
    font-weight: bold;
}

header #breadcrumbs .innerBr li {
    display: inline-block;
    height: 21px;
    line-height: 21px;
    padding: 1px 0 0 1px;
}

header #breadcrumbs .innerBr li:first-child a {
    height: 21px;
    background: transparent url("http://shoplist.esp-shoe.com/wp-content/themes/sample-theme/image/layout/ic_home.png") left center no-repeat;
    background-size: 15px 15px;
    padding: 1px 0 0 30px;
}

/* header esp-smt */

/*shodinate*/
header .header-shoedinate {
    width: 100%;
    background: #fa9cb9;
    padding: 11px 0 8px;
    z-index: 999;
    position: fixed;
    top: 0;
}
header .wrapper_contents {
    width: 1024px;
    margin : 0 auto;
    position: relative;
}
header .header-shoedinate h1 {
    text-align: center;
    margin: 0 auto;
}
header .header-shoedinate h1 a {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}
header .header-shoedinate h1 img {
    height: auto;
}
header .favorite {
    width: 24px;
    position: absolute;
    top: 0px;
    right: 70px;
}
header .favorite img {
    width: 100%;
}
header .search {
    width: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
}
header .search img {
    width: 100%;
    height: auto;
}

/* Tooltip text */
header .tooltip .tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    border: solid 1px #efefef;
    box-shadow: 0 0 5px rgba(0,0,0,.13);
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 120%;
}
header .tooltip.active:hover .tooltiptext,
header .tooltip.active:focus .tooltiptext {
    visibility: visible;
}
header .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

/*---------------------------------------------------------------*\
    $906px
\*---------------------------------------------------------------*/

@media screen and (max-width: 906px) {

    header .wrapper_contents {
        width: 94%;
        min-width: inherit;
    }
    header .favorite {
        right: 60px;
    }
    header .search {
        right: 0px;
    }
    /* header esp-smt */
    header .inner {
        width: 94%;
        text-align: center;
    }
    header .inner a {
        float: none;
        display: inline-block;
    }
    header #breadcrumbs .innerBr {
        width: 94%;
    }
}

/*---------------------------------------------------------------*\
    $480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {

    header .wrapper_contents {
        width: 94%;
        min-width: inherit;
    }
    header .header-shoedinate h1 {
        width: 222px;
        margin: inherit;
    }
    header .favorite {
        right: 43px;
        top: -3px;
    }
    header .search {
        right: 0px;
        top: -3px;
    }
    /* header esp-smt */
}


/*---------------------------------------------------------------*\
    $320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {

    header h1 {
        width: 187px;
    }
    header .favorite {
        right: 38px;
        top: -4px;
    }
    header .search {
        right: 0px;
        top: -4px;
    }
}
