@charset "UTF-8";

/*---------------------------------------------------------------*\
    $共通
\*---------------------------------------------------------------*/

/* Common */

body {
  background:#f9f9f9;
}
.wrapper-nav {
  display: none;
}
.font_color_white {
  color: #fff;
}
#infscr-loading {
  text-align: center;
  margin: 10px auto 0;
  font-size: 1.0rem;
}
#infscr-loading img {
  display: inline-block;
}
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}
[class*="fontawesome-"]:before {font-family: 'fontawesome', sans-serif;}

/* Navigation */

#navigation {
  width: 1024px;
  margin: 65px auto 0;
  border: solid 1px #eee;
  border-radius: 4px;
  overflow: hidden;
  background:#fff;
}
#navigation h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: rgba(0,0,0,.6);
}
#navigation nav:after {
  content:'';
  width: 33.33%;
  height: 44px;
  /*background: #de6a10;*/
  position: absolute;
  transition: .5s;
}
#navigation input {
  display: none;
}
#navigation label {
  width: 33.33%;
  float: left;
  line-height: 42px;
  padding-top: 2px;
  color: #444;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
#navigation label:hover {color: #de6a10;}
#navigation label:before {
  display: block;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 2;
}
#profile:checked ~ nav [for='profile'],
#settings:checked ~ nav [for='settings'],
#posts:checked ~ nav [for='posts'],
#books:checked ~ nav [for='books'] {
  color: #fff;
  font-weight: bold;
  background: #de6a10;
}
#settings:checked ~ nav [for='settings'] {}
#profile:checked ~ nav [for='profile'] {}

#profile:checked ~ nav:after {
  left: 0;
}
#settings:checked ~ nav:after {
  left: 33.3333%;
  border-top: 0 none;
}
#posts:checked ~ nav:after {
  left: 66.888%;
}
#books:checked ~ nav:after {
  left: 66.88%;
}

#profile:checked ~ .uno,
#settings:checked ~ .dos,
#posts:checked ~ .tres,
#books:checked ~ .cuatro {
  display: block;
  transform: scale(1);
  transition-delay: .5s;
}
#navigation a {color: rgba(0,0,0,.4)}
#navigation a:hover {color: rgba(0,0,0,.2)}

/* New */

#new {
  max-width: 1200px;
  min-width: 1024px;
  padding: 30px 0 0px;
  position: relative;
}
#new h2 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
}
#new .results_new {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 6px;
}
#new .search_button_new > select {
  width: 150px;
  padding: 10px 30px 10px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 1px #eaeaea;
  color: #444;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 22px 42px;
  cursor: pointer;
}

#new .wrapper_tag_new {
  letter-spacing: -.4em;
  border-radius: 4px;
  background: #fff;
  margin-top: 24px;
  padding: 0px 24px 15px;
}
#new .tag_new {
  display: inline-block;
  letter-spacing: normal;
  color: #fff;
  font-size: 1.3rem;
  background: #222;
  padding: 7px 9px;
  text-align: center;
  border-radius: 4px;
  margin: 14px 12px 0 0;
}
#new .tag_delete {
  display: inline-block;
  width: 11px;
  vertical-align: middle;
}
#new .tag_delete img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
#new .tag_name {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  vertical-align: middle;
}
#new .tag_name:before {
  content:"";
  border-left: solid 1px #666;
  margin: 0 7px 0 4px;
}
#new .number_new {
  font-size: 1.4rem;
  font-weight: bold;
}
#new .wrapper_contents {
  letter-spacing: -.4em;
  width: 75%;
  margin: 0 auto;
  height: 700px;
  background: #d9d9d9;
  margin-top: 30px;
}
#new {
  width: 1024px;
  margin: 0 auto;
}
#new .wrapper_posts {
  letter-spacing: -.4em;
  padding-top: 22px;
  vertical-align: top;
  position: relative;
}
#new .post {
  width: 248.5px;
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  background: #d9d9d9;
  margin: 10px 10px 0 0;
  vertical-align: top;
  box-shadow: 1px 1px 1px rgba(189, 195, 199, 0.3),
        -2px 1px 1px rgba(189, 195, 199, 0.3), 1px 1px 1px rgba(189, 195, 199, 0.3);
}
#new .post:nth-of-type(4n) {
  margin: 10px 0 0 0;
}
#new .post:before {
  content: "";
  display: block;
  padding-top: 130%; /* ratio */
}
#new .img_post {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
}
#new .info_post {
  bottom: 0;
  letter-spacing: -.4em;
  left:0;
  width: 100%;
  padding: 12px 18px;;
  background: rgba(255, 255, 255, 1);
  margin-top: 8px;
}
#new .like_post {
  float: left;
  width: 30px;
  margin-top: 3px;
}
#new .like_post img {
  width: 100%;
  height: auto;
}
#new .detail_post {
  float: right;
  text-align: right;
}
#new .shop_name {
  display: block;
  font-size: 1.3rem;
  color: #555;
}
#new .height {
  display: block;
  font-size: 1.2rem;
  color: #555;
}

.wrapper-filter {
  display: none;
  margin-top: 20px;
  margin-bottom: 10px;
  /*letter-spacing: -.4em;*/
}

/*---------------------------------------------------------------*\
    $906px - Tablets
\*---------------------------------------------------------------*/

@media screen and (max-width: 907px) {

  #navigation {
    width: 94%;
  }
  #new {
    width: 94%;
    margin: 0 auto;
    max-width: inherit;
    min-width: inherit;
  }
  #new .wrapper_posts {
    width: 100%;
  }
  #new .post {
    width: 24.25%;
    margin: 1% 1% 0 0;
  }
  #new .like_post {
    width: 26px;
    margin-top: 4px;
  }
  #new .info_post {
    padding: 12px 12px;
    margin-top: 5px;
  }
  #new .post:nth-of-type(4n) {
    margin: 1% 0 0 0;
  }
  #new .shop_name {
    font-size: 1.2rem;
  }
  #new .height {
    font-size: 1.2rem;
  }
}

/*---------------------------------------------------------------*\
    $480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {

    /* Toggle */
  .wrapper-filter {
    display: block;
  }
  .nav-filter a {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .nav-filter > li {
    width: 100%;
    padding: 0;
    position: relative;
    border-radius: 3px;
    /*background-color: #fff;
    background-image: url('../img/results/down_sp.png');*/
    background-color: #de6a10;
    background-image: url('../img/results/down_active_sp.png');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 92% center;
  }
  /*.nav-filter > li:hover,
  .nav-filter > li:focus {
    background-color: #de6a10;
    background-image: url('../img/results/down_active_sp.png');
  }*/
  .nav-filter > li > a {
    text-align: center;
    display: block;
    border-radius: 3px;
    border: solid 1px #eaeaea;
    padding: 13px 0px 11px;
    color: #fff;
    border-left: 0 none;
    border-right: 0 none;
  }
  /*.nav-filter > li:hover > a,
  .nav-filter > li:focus > a {
    color: #fff;
    border-left: 0 none;
    border-right: 0 none;
  }*/
  .nav-filter > li .sort-filter {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    width: 100%;
  }
  .nav-filter > li:hover .sort-filter,
  .nav-filter > li:focus .sort-filter {
    display: block;
  }
  .nav-filter > li > ul li > a {
    border-left: solid 1px #eaeaea;
    border-right: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
    padding: 12px 20px;
    display: block;
  }
  .nav-filter > li > ul li > a:hover,
  .nav-filter > li > ul li > a:focus,
  .nav-filter > li > ul li > a.active {
    color: #fff;
    background-color: #de6a10;
    border-left: 0 none;
    border-right: 0 none;
  }

  /* Navigation */

  #navigation {
    width: 94%;
    margin-top: 56px;
    min-width: inherit;
  }
  #navigation .content_navigation {
    height: 45px;
  }
  #navigation .content_navigation > span {
    font-size: 1.2rem;
    padding-top: 13px;
  }

    /* New */

  #new {
    width: 94%;
    min-width: inherit;
    padding: 25px 0 0px;
  }
  #new .height {
    font-size: 1.1rem;
  }
  #new .shop_name {
    font-size: 1.1rem;
  }
  .wrapper-filter {
    display: block;
  }
  #new .info_post {
    padding: 12px 6px 6px;;
  }
  #new .like_post {
    width: 25px;
    margin-top: 0px;
  }
  #new .wrapper_posts {
    padding-top: 5px;
  }
  #new .post {
    width: 49%;
    margin: 2% 2% 0 0;
  }
  #new .post:nth-of-type(4n) {
    margin: 2% 0 0 0;
  }
  #new .post:nth-of-type(2n) {
    margin: 2% 0 0 0;
  }
  #new h2 {
    font-size: 2.2rem;
  }
  #new .results_new {
    font-size: 1.3rem;
  }
  #new .search_button_new {
    display: none;
  }
  #new .back_top {
    bottom: 10px;
    right: 10px;
    z-index: 999;
    background-size: 60px 60px;
  }
}

/*---------------------------------------------------------------*\
    $320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
}
