@charset "UTF-8";

/*---------------------------------------------------------------*\
    $共通
\*---------------------------------------------------------------*/

/* Common */

body {
  background:#f9f9f9;
}

/* Search */

#search {
  width: 1024px;
  margin: 0 auto;
  padding: 65px 0 50px;
}
#search h2 {
  text-align: center;
  font-size: 2.4rem;
  /*padding-top: 60px;*/
  font-weight: bold;
  color: #222;
}
#search .summary_search {
  font-size: 1.2rem;
  text-align: center;
  color: #777;
  line-height: 21px;
  padding-top: 5px;
}
#search .summary_search br {
  display: none;
}
#search .search_engine_search {
  letter-spacing: -.4em;
  margin-top: 30px;
}
#search .tag_box {
  width: 820px;
  margin: 0 24px 0 0;
  background: #eaeaea;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  letter-spacing: -.4em;
  padding: 0 15px 15px 10px;
  text-align: left;
}
#search .tag_box > li {
  display: inline-block;
  letter-spacing: normal;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 7px 24px 7px 12px;
  text-align: center;
  border-radius: 3px;
  margin: 12px 12px 0 0;
}
#search .tag_box > li.tagit-choice {
  background: #222;
}
#search .tag_box > li > span.tagit-label {
  font-size: 1.2rem;
}
#search .buttons {
  width: 180px;
  display: inline-block;
  vertical-align: top;
}
#search .search_button {
  display: block;
  letter-spacing: normal;
  color: #fff;
  background: #de6a10;
  padding: 10px 0 8px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}
#search .detail_search_button {
  display: block;
  letter-spacing: normal;
  color: #444;
  margin-top: 18px;
  border: solid 2px #444;
  background: #fff;
  padding: 9px 0 7px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
}
#search .detail_search_button:hover {
  color: #fff;
  background: #444;
}
#search .trend_search {
  width: 1024px;
  margin-top: 40px;
  border-radius: 3px;
  overflow: hidden;
}
#search .trend_search > h2 {
  text-align: center;
  font-weight: 400;
  padding: 12px 0;
  font-family: 'Oswald', sans-serif;
  font-size: 2.0rem;
  background: #eaeaea;
  border-bottom: solid 1px #d9d9d9;
}
#search .trend_search > ul {
  overflow-y: auto;
  height: 340px;
}
#search .trend_search li {
  padding: 13px 20px;
  background: #ececec;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}
#search .trend_search li:nth-of-type(2n) {
  background: #ddd;
}
#search .trend_search li.checked,
#search .trend_search li:hover,
#search .trend_search li:focus {
  background: #de6a10;
  color: #fff;
  border-bottom: 1px solid #d9d9d9;
}


/*---------------------------------------------------------------*\
    $906px
\*---------------------------------------------------------------*/

@media screen and (max-width: 906px) {

  #search {
    width: 94%;
  }
  #search .tag_box {
    width: 71.6%;
  }
  #search .trend_search {
    width: 100%;
  }
}

/*---------------------------------------------------------------*\
    $480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {

  /* New */

  #search {
    margin-top: 60px;
    width: 94%;
    padding: 0;
  }
  #search h2 {
    font-size: 2.4rem;
  }
  #new .summary_search {
    line-height: 23px;
    text-align: justify;
  }
  #search .summary_search br {
    display: block;
  }
  #search .search_engine_search {
    letter-spacing: inherit;
  }
  #search .tag_box {
    width: 100%;
    margin: 0;
  }
  #search .search_engine_search {
    margin-top: 15px;
  }
  #search .buttons {
    width: 100%;
    letter-spacing: -.4em;
    padding-top: 15px;
  }
  #search .search_button {
    display: inline-block;
    width: 48%;
    padding: 11px 13px 10px;
    margin: 0 4% 0 0;
    font-size: 1.3rem;
  }
  #search .detail_search_button {
    width: 48%;
    padding: 9px 13px;
    display: inline-block;
    margin: 0 0 0 0;
    font-size: 1.3rem;
  }
  #search .trend_search {
    width: 100%;
    margin-top: 20px;
  }
  #search .trend_search > ul {
    height: 260px;
  }
  #search .trend_search > h2 {
    font-size: 1.8rem;
    padding: 10px 0;
  }
  #search .trend_search li {
    padding: 12px 20px;
    font-size: 1.2rem;
  }
}


/*---------------------------------------------------------------*\
    $320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
}
